#section_title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1em;
    color: #e5e5e5;
}

#project_name {
    font-size: 1.5rem;
}

.projects_grid {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    grid-gap: 2em;
}

.project {
    padding: 2em;
    margin: 0 auto;
    text-align: center;
    box-shadow: #2a2a2a 0 7px 5px 0;
    transition: transform 0.2s linear;
    color: #e5e5e5;
    background-color: #2a2a2a;
}

.project:hover {
    transform: translateY(-7px);
}

.project_description {
    margin-top: 1em;
}

.project_stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.2em 0;
}

.project_stack-item {
    margin: 0.5em;
    font-weight: 500;
    font-size: 0.8rem;
}

.project_stack > li {
    margin: 0.5em;
    font-weight: 500;
    font-size: 0.8rem;
}

.project .link--icon {
    margin-left: 0.5em;
}

ul {
    list-style-type: none;
}